html
    head
        title Page admin
        link(rel="stylesheet" href="assets/css/style.css")

        nav(class="navbar navbar-expand-md")
            a(class="navbar-brand" href="#") Blog
        div(class="collapse navbar-collapse" id="navbarCollapse")
            ul(class="navbar-nav mr-auto")
                li(class="nav-item")
                    a(href="../index" class="nav-link") Index
                li(class="nav-item")
                    a(href="../login" class="nav-link") Login
                li(class="nav-item")
                    a(href="../register" class="nav-link") Register
                li(class="nav-item")
                    a(href="../logout" class="nav-link") Logout
                br
                li(class="nav-item")
                    a(href="/pannelAdmin" class="nav-link") Pannel Administrateur
                li(class="nav-item")
                    a(href="/pannelAdmin/Add" class="nav-link") Ajouter un article
                li(class="nav-item")
                    a(href="/pannelAdmin/Update" class="nav-link") Mettre à jour un article
                li(class="nav-item")
                    a(href="/pannelAdmin/Delete" class="nav-link active") Supprimer un article

    body
    h1 Page administrateur

    p #{errorListArticle}
    p #{successAddArticle}
    p #{deleteSucessfull}

    #articles
        if(articles !== undefined)
            each item in articles
                h3 Titre de l'article : #{item.title}
                h4 Auteur : #{item.author}
                h4 Date : #{item.creationDate}
                h5 Visibilité : #{item.visibility}
                br
                p #{item.content}
                br
                hr

